body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.topnav {
  display: flex;
  background-color: #141a46;
  overflow: hidden;
  justify-content: center;
  gap: 170px;
  height: 50px;
}

.topnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ec8b5e;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 17px;
  float: left;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #fcf9fc;
  color: rgb(14, 14, 14);
  height: 1px;
}

.hero {
  height: 100vh;
  width: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.237), rgba(0, 0, 0, 0.674));
}

.background-image {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 0;
  z-index: -1;
  bottom: 0;
  filter: saturate(100%);
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 85vh;
  font-size: 35px;
}

.drinks-db {
  color: white;
  font-weight: bolder;
  font-family: 'Kaushan Script';
  color: white;
}

.input {
  color: white;
}

.home-button {
  padding: 15px 45px;
  background-color: #ec8b5e;
  color:  #171d4b;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}