* {
    box-sizing: border-box;
}

.top-nav {
    display: flex;
    background-color:#141a46;
    overflow: hidden;
    justify-content: center;
    gap: 170px;
    height: 50px;
  }
  
  .top-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 17px;
    float: left;
  }
  
  .active {
    background-color: #ca94ca;
  }
    
  .top-nav a:hover {
    background-color: #fcf9fc;
    color: black;
    height: 1px;
  }
  
  .top-nav a.active {
    color: rgb(6, 0, 0);
  }
  