* {
    box-sizing: border-box;
}

body {
    background-color:#353e862c;
    ;
}
.drinky {
    color: #ec8b5e;
}

.signup-content {
    background-color: #242d74;
    width: 50%;
    height: 90vh; 
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 5px;
    margin-top: 3px;
}
.signup-form {
    margin-bottom: 3px;
}

.input {
    width: 50vh;
    padding: 7px;
    color: white;
}

.drinky {
    text-align: center;
}

.form-info {
    height: 70vh;
    width: 110%;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.signup {
    color: white;
    text-align: center;
}

.button {
    width: 50vh;
    padding: 10px;
    background-color: #242d74f6;
    color: white;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}

.button:hover {
    cursor: pointer;
    background-color: #242d74da;
}   